<!-- {% for comment in post %}
{{comment.comments}}
{% endfor %} -->

{% import 'macros.html' as macro%}
{% extends 'base.html'%}

{% block content %}

{% for post in post %}

<div class="col-md-8 offset-md-2" style="margin-left:15%;">


<div class="panel panel-default">
    <div class="table-container">
        <table class="table table-filter">
            <tbody>
                <tr data-status="pagado">
                    <td>
                        <div class="media">
                            <div class="media-body">
                                <span class="media-meta pull-right">{{ post.timestamp }}</span>
                                <h4 class="title">{{ post.comments }}..
                                </h4>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>

{%endfor%}

{% endblock%}