{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!--Styles block-->

<!-- Content block -->
{% block content %}

<h2>Haiya! Blog Inaendelea Kufanya</h2>
<p>Na hakuna errors</p>

<!--Search block-->
<!-- <div class="container">
    <form>
        <input type="text" name="post_query" placeholder="search for a post" class="form-control">
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div> -->

<!-- Blog Category -->
<h3> Blog Categories </h3>
{{wtf.quick_form(form)}}

{% for post in post %}

<div class="col-md-8 offset-md-2" style="margin-left:15%;">


<div class="panel panel-default">
    <div class="table-container">
        <table class="table table-filter">
            <tbody>
                <tr data-status="pagado">
                    <td>
                        <div class="media">
                            <div class="media-body">
                                <span class="media-meta pull-right">{{ post.date_created }}</span>
                                <h4 class="title">{{ post.actual_post }}...
                                </h4>
                                <a class="btn btn-success text-center" href="/post/comments/new/{{post.id}}">Comment on this Post</a> 
                                <a href="/comments/{{post.id}}" class="btn btn-info">Read Comments</a>
                                <a href="/delete_comment/{{post.id}}" class="btn btn-info">Delete Comment</a>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>

{% endfor %}

{% endblock%}